@model CC.Models.Classes.Home.IndexModel

<br><br>
<div class="index-icon-row">
    <div>
        @if (Model.SettingsCanView)
        {
            <span><b>Setări</b></span>
            @Html.ActionLink("Report", "Setting", new { controller = "Setting" }, new { @class = "settingIcon" })
        }
    </div>
    <div>
        @if (Model.UnitiesCanView)
        {
            <span><b>Unități măsură</b></span>
            @Html.ActionLink("Report", "Unit", new { controller = "Home" }, new { @class = "unitsIcon", Model.UnitiesCanView })
        }
    </div>
    <div>
        @if (Model.SpecialitiesCanView)
        {
            <span><b>Specialități</b></span>
            @Html.ActionLink("Report", "Speciality", new { controller = "Home" }, new { @class = "specialityIcon" })
        }
    </div>
</div>
<div class="index-icon-row">
    <div>
        @if (Model.LoanMoneyCanView)
        {
            <span><b>Împrumuturi</b></span>
            @Html.ActionLink("Report", "LoanMoney", new { controller = "Home" }, new { @class = "loanMoneyIcon" })
        }
    </div>
    <div>
        @if (Model.FiltersCanView)
        {
            <span><b>Filtre</b></span>
            @Html.ActionLink("Report", "Filter", new { controller = "Home" }, new { @class = "filtersIcon" })
        }
    </div>

    <div>
        @if (Model.UsersCanView)
        {
            <span><b>Utilizatori</b></span>
            @Html.ActionLink("Utilizatori", "Users", new { controller = "Users" }, new { @class = "usersIcon" })
        }
    </div>
</div>


