@using CC.Models.Classes
@using CC.Models.Enums 
@using CC.Resources
@using BL = CC.Models.BusinessLogic
@using Permission = CC.Models.BusinessLogic.User.UserPermissions
@using Translate = CC.Models.BusinessLogic.Home.TranslateWord

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

	@Styles.Render("~/Content/DevExtremeBundle")
	
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/Scripts/DevExtremeBundle")

</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>
                        @Html.ActionLink(
                 Translate.GetWord(CC.Resources.Resource.Home),
                 "Index",
                 Controllers.Home.ToString())
                </li>
                @*Workers Translate.GetWord(ModuleTypes.Workers.ToString(), MySession.Current.Language)*@
                @if (Permission.GetUserPermissionByModuleType(ModuleTypes.Workers).can_view ?? false)
                {
                    <li>
                        @Html.ActionLink(
                            Translate.GetWord(Resource.Workers),
                            "WorkersActionResult",
                            Controllers.Worker.ToString())
                    </li>
                }
                @*Objects*@
                @if (Permission.GetUserPermissionByModuleType(ModuleTypes.Objects).can_view ?? false)
{
                <li>
                    @Html.ActionLink(
             Translate.GetWord(ModuleTypes.Objects.ToString()),
             ModuleTypes.Objects.ToString(),
             Controllers.Object.ToString())
                </li>
}
                @* Customers *@
                @if (Permission.GetUserPermissionByModuleType(ModuleTypes.Customers).can_view ?? false)
{
                <li>
                    @Html.ActionLink(
             BL.Home.TranslateWord.GetWord(ModuleTypes.Customers.ToString()),
             ModuleTypes.Customers.ToString(),
             Controllers.Home.ToString())
                </li>
}
                @* Users && Translate *@
                @if (MySession.Current.IsUserAdmin)
{
                <li>
                    @Html.ActionLink(
             BL.Home.TranslateWord.GetWord(ModuleTypes.Users.ToString()),
             "Index",
             Controllers.Users.ToString())
                </li>
                <li>
                    @Html.ActionLink(
             BL.Home.TranslateWord.GetWord("Translates"),
             "TranslateWords",
             Controllers.Home.ToString())
                </li>
}

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Companie de construcție</p>
        </footer>
    </div>
    
    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
