<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

	@Styles.Render("~/Content/DevExtremeBundle")
	
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/Scripts/DevExtremeBundle")

</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if ((int)CC.Models.Classes.MySession.Current.UserRole < (int)CC.Models.Enums.UserRole.Dentistry)
                    {                        
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>                        
                        <li>@Html.ActionLink("Lucrători", "Workers", "Worker")</li>                                            
                        <li>@Html.ActionLink("Obiecte", "Objects", "Object")</li>
                       
                        @*<li>@Html.ActionLink("Specialități", "Speciality", "Home")</li>*@
                    }
                    
                    @if ((int)CC.Models.Classes.MySession.Current.UserRole == (int)CC.Models.Enums.UserRole.Dentistry
                        || (int)CC.Models.Classes.MySession.Current.UserRole == (int)CC.Models.Enums.UserRole.Admin)
                    {
                        <li>@Html.ActionLink("Clienti", "Customer", "Home")</li>
                    }
                    @if (CC.Models.Classes.MySession.Current.IsUserAdmin)
                    {
                        <li>@Html.ActionLink("Utilizatori", "Index", "Users")</li>
                    }
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Companie de construcție</p>
        </footer>
    </div>
    
    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
