@Html.DevExpress().GetStyleSheets(
new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
new StyleSheet { ExtensionSuite = ExtensionSuite.Editors }
)
@Html.DevExpress().GetScripts(
new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
new Script { ExtensionSuite = ExtensionSuite.Editors }
)
@{
    ViewBag.Title = "ObjectTotal";
    decimal workSum = 0;
    foreach (var item in ViewBag.Works)
    {
        decimal surface = Convert.ToDecimal(item.surface_work);
        decimal unitPrice = Convert.ToDecimal(item.unit_price);

        workSum += surface * unitPrice;
    }
    decimal materialSum = ViewBag.MaterialSum;
    decimal instrumenteSum = Convert.ToDecimal(ViewBag.InstrumentSum);
    decimal extraSum = Convert.ToDecimal(ViewBag.ExtraSum);
    decimal paymentSum = Convert.ToDecimal(ViewBag.ObjectPaymentSum * -1);

    decimal totalSum = extraSum + instrumenteSum + materialSum + workSum + paymentSum;

   
}
<h2>Cheltuieli Totale</h2>
<br><br>
@Html.Label("Lucrări efectuate:", new { style = "width: 200px; font-size: 16px;" })
@Html.TextBox("Work", @workSum.ToString("N2"), new { style = "text-align: right;" }) <br>

@Html.Label("Materiale utilizate:", new { style = "width: 200px; font-size: 16px;" })
@Html.TextBox("MaterialSum", materialSum.ToString("N2"), new { style = "text-align: right;" }) <br>

@Html.Label("Instrumente utilizate:", new { style = "width: 200px; font-size: 16px;" })
@Html.TextBox("Instrument", @instrumenteSum.ToString("N2"), new { style = "text-align: right;" }) <br>

@Html.Label("Cheltuieli extra:", new { style = "width: 200px; font-size: 16px;" })
@Html.TextBox("Extra", @extraSum.ToString("N2"), new { style = "text-align: right;" }) <br>

@Html.Label("Achitări:", new { style = "width: 200px; font-size: 16px;" })
@Html.TextBox("Payment", @paymentSum.ToString("N2"), new { style = "text-align: right;" }) <br>
<hr>
@Html.Label("Total:", new { style = "width: 200px; font-size: 16px;" })
@Html.TextBox("Total", @totalSum.ToString("N2"), new { style = "text-align: right;" }) <br>

